.headImg {
    width: 100%;
    height: 160px;
    z-index: -1;
    padding: 0;
}


.page_title_container {
    background: url(https://cdn.wallpapersafari.com/89/22/SY1W38.jpg) no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content:center;
    height:160px;
    text-align:center;
    padding:0;
    margin:0;
}

.navLink_title{
    font-size:15px;
    padding:0;
    margin-top:0px;
    margin-bottom:2px;
}

body{
    padding:0;
    margin:0;
}

.header_page_title{
    display:inline-block;
    position:relative;
    color:white;
    font-size: 90px;
    font-family:impact;
    background: url(https://media1.giphy.com/media/AWzvQj7sEkiBy/giphy.webp?cid=790b76115d0d55c14d3571436b84d920&rid=giphy.webp) repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 3px white;
   animation:fadeIn 3s linear;
  }
  
.navContainer {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    height: 10%;
    text-decoration: none;
}

.navContainer >a{
    text-decoration: none;
}

.navContainer >a:hover{
    color: black;
}

.navContainer >a:hover:not(.activeLink){
    background-color: grey;
    color: black;
}

.navLink {
    color: white;
    font-family:monospace;
    text-align: center;
    font-size: 20px;
    width: 33%;
    float: left;
    text-align: center;
}

.activeLink {
    background-color: white;
    color: black; 
}

#rest {
    width: 34%;
}